body {
  color: var(--foreground);
  background-color: #727272;
  font-family: Arial, Helvetica, sans-serif;
}
.homepage-container {
  background-color: #111111;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: fit-content;
  padding: 30px;
}

.spotify-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.spotify-logo {
  height: 30px;
  margin-right: 10px;
}

.title {
  font-size: 2rem;
  color: #25d65d;
  margin: 0;
  flex-grow: 1;
}

.view-profile {
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
  border-radius: 15px;
  background-color: #494949;
  color: rgb(210, 210, 210);
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
}

.view-profile:hover {
  background-color: #121212;
  box-shadow: 0 0 7px rgba(29, 185, 84, 0.8);
}

.track-info {
  display: flex;
  gap: 20px;
}

.track-image {
  width: 180px;
  height: 180px;
  border-radius: 15px;
}

.track-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.track-text {
  margin-bottom: auto;
  margin-top:10PX;
}

.track-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  color: white;
}

.track-artist {
  color: #b3b3b3;
  font-size: 1.5rem;
  margin: 5px 0;
}

.play-now-btn {
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  background-color: #494949;
  color: rgb(210, 210, 210);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.05s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.play-now-btn:hover {
  background-color: #121212;
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(29, 185, 84, 0.8);
}

.spotify-logo2 {
  height: 20px;
}
