@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.homepage-container{
  background-color: #121212;
  padding: 1%;
  border-radius: 15px;
  width: 100%;              
  max-width: 30%;            
  padding-bottom: 2%;
  word-wrap: break-word;     
  
}

.title {
  color: #1DB954; 
  font-size: 2rem;
  margin-bottom: 20px;
 
}

.track-info {
  display: flex;
  align-items: flex-start;  
  justify-content: start; 
  gap: 20px; 
  word-wrap: break-word;
}

.track-image {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  
}

.track-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  margin-left:3%;
  
}

.track-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.track-artist {
  color: #b3b3b3;
  font-size: 1.5rem;
  margin: 5px 0 0 0;
}
.spotify-logo{

  height: 30px;
  margin-right: 10px;
}
.spotify-logo2{

  height: 30px;
  
}
.spotify-header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.play-now-btn {
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;


  font-size: 20px;
  font-weight:600; 
  padding: 10px 20px; 
  background-color: #494949; 
  color: rgb(210, 210, 210);
  border: none; 
  border-radius: 25px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease,box-shadow 0.05s ease-in;
  width:fit-content;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.play-now-btn:hover {
  background-color: #121212;
  transform: scale(0.95);

  box-shadow: 0 0 10px rgba(29, 185, 84, 0.8);
  
}

.view-profile{
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;  
  border-radius: 15px; 
  background-color: #494949; 
  color: rgb(210, 210, 210);
  font-size: 20px;
  font-weight:600; 
  padding: 10px 20px; 
  border: none;
  margin-left: auto;
  transition: background-color 0.1s ease ,box-shadow 0.1s ease;

}
.view-profile:hover{
  background-color: #121212;


  box-shadow: 0 0 7px rgba(29, 185, 84, 0.8);
  
}
